# Bytecode and Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

.reports/

# Virtual environment
venv/
env/
ENV/

# Pytest cache
.pytest_cache/


# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


# Docker
*.tar
*.img

# Python environment files
*.egg-info/
.eggs/